.section.title {
    font-size: 24px; 
    margin: -10px -50%;   /* Отступы сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
}

.navigation.section__all {
    display: flex;             /* Использование flexbox для выравнивания */
    justify-content: right;   /* Центрирование кнопок по горизонтали */
    align-items: right;       /* Выравнивание кнопок по вертикали */
    margin-bottom: 30px;       /* Отступ снизу перед другим блоком */
}

.arrows__button {
    background-color: white;   /* фоновый цвет кнопки */
    border-color: #921049;   /* цвет рамки кнопки */
    cursor: pointer;           /* Указатель при наведении */
    margin: 0 10px;           /* Отступы между кнопками */
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrows__button:hover {
    background-color: #f0f0f0;
}

.arrows__button img {
    width: 30px;              /* Ширина изображения стрелки */
    height: 30px;             /* Высота изображения стрелки */
}